{{ define "main"}}
<section class="grid min-h-full place-items-center -mt-3" id="hero">
    <div class="w-full m-auto duration-75 transform bg-white rounded shadow-xl dark:bg-gray-800 hover:-translate-y-1">
            <div class="flex flex-col md:flex-row">

            <img src="{{.Site.Params.heroPic | relURL}}" alt="Me, in front of a lake" class="object-cover sm:w-full md:w-[60%] !my-0 object-[left-5%] filter grayscale hover:grayscale-0 duration-200  motion-reduce:duration-[0ms] rounded-sm md:rounded-t-sm lg:rounded-tl-sm">
            <div class="p-6 2xl:text-xl">
                <header>
                    <h1 class="font-serif uppercase">{{.Title}}</h1>
                    <h2>{{.Params.tagline}}</h2>
                </header>
                    {{.Content | safeHTML }}
            </div>
        </div>
           <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
               <button class="p-3 text-lg font-bold !text-white uppercase transition-colors duration-100 rounded-sm bg-royal hover:bg-royal-600 dark:hover:bg-royal-400 text-center" @click="document.querySelector('#about').scrollIntoView();">
                About Me
               </button>

               <button class="p-3 text-lg font-bold !text-white uppercase transition-colors duration-100 rounded-sm btn-secondary text-center" @click="document.querySelector('#contact').scrollIntoView();">
                Contact
               </button>
           </div> 
        </div> 

</section>
<section class="h-screen mt-[10%]" id="about">
    <h1 class="!pt-3">About Me</h1>
    <button class="p-1 text-xs rounded-sm btn-primary" onclick="document.querySelector('#hero').scrollIntoView();">Back to Top</button>
      <p>I graduated from the University of Mary Washington in May 2021, with a Bachelor's of Science in computer science, and a minor in cybersecurity.</p>
      <p>
           I’ve been a drummer since about 6th grade, and I’ve been teaching myself guitar on and off since sophomore year of high school. Most recently, in January 2021 I started teaching myself bass. As far as my hobbies outside of code and music, I enjoy worldbuilding and games (both video games and tabletop games, especially tabletop role-playing games.)
      </p>


</section>
<section class="h-screen" id="contact">
    <h1 class="!pt-3">Contact Me</h1>
    <button class="p-1 text-xs rounded-sm btn-primary" onclick="document.querySelector('#hero').scrollIntoView();">Back to Top</button>
      Want to reach out to me? Fill out this form, and I’ll get back to you as quickly as I can.
      {{ partial "contact" .}}
</section>
{{ end }}
